@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wrapper Styles */
@layer base {
  .wrapper {
    --container-width: 100%;
    --padding: 3rem;
    width: calc(100% - var(--padding));
    max-width: var(--container-width);
    margin-inline: auto;
  }

  /* Tablet (min-width: 768px) */
  @media (width >= 768px) {
    .wrapper {
      --padding: 4rem;
    }
  }

  /* Desktop (min-width: 1280px) */
  @media (width >= 1280px) {
    .wrapper {
      --container-width: 1216px;
    }
  }

  /* Desktop (min-width: 1536px) */
  @media (width >= 1536px) {
    .wrapper {
      --container-width: 1440px;
    }
  }
}

/* Typography */
@layer base {
  html,
  body,
  #__nuxt {
    @apply text-neutral-500;
  }
}

@layer base {
  .image-mask {
    mask: linear-gradient(
      180deg,
      theme("colors.zinc.100") 0%,
      theme("colors.zinc.100") 10%,
      theme("colors.zinc.100") 20%,
      theme("colors.zinc.100") 30%,
      theme("colors.zinc.100") 40%,
      theme("colors.zinc.100") 50%,
      theme("colors.zinc.100/5%") 65%,
      theme("colors.zinc.100/5%") 75%,
      theme("colors.zinc.100/10%") 80%,
      theme("colors.zinc.100/10%") 90%,
      theme("colors.zinc.100/10%") 100%
    );
  }

  @media (min-width: 768px) {
    .image-mask {
      mask: linear-gradient(
        180deg,
        theme("colors.zinc.100") 0%,
        theme("colors.zinc.100") 10%,
        theme("colors.zinc.100") 20%,
        theme("colors.zinc.100") 30%,
        theme("colors.zinc.100") 40%,
        theme("colors.zinc.100") 50%,
        theme("colors.zinc.100") 60%,
        theme("colors.zinc.100/5%") 75%,
        theme("colors.zinc.100/10%") 80%,
        theme("colors.zinc.100/10%") 90%,
        theme("colors.zinc.100/10%") 100%
      );
    }
  }
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-neutral-800;
  }
}

@layer utilities {
  .slide-center {
    --slide-center-transform: 1.5rem;
    transform: translateX(var(--slide-center-transform));
  }

  /* Tablet (min-width: 768px) */
  @media (width >= 768px) {
    .slide-center {
      --slide-center-transform: 2rem;
    }
  }

  /* Desktop (min-width: 1280px) */
  @media (width >= 1280px) {
    .slide-center {
      --slide-center-transform: calc(max(1216px, 100vw) / 2 - calc(1216px / 2));
    }
  }

  /* Desktop (min-width: 1536px) */
  @media (width >= 1536px) {
    .slide-center {
      --slide-center-transform: calc(max(1440px, 100vw) / 2 - calc(1440px / 2));
    }
  }
}
